.Toggle-HintBox-MouseTracking{
	display:block;
	position:absolute;
	width:2em; height:2em;
	border-radius:50%;
	background:linear-gradient(to Top, #35a,#17a,#58a, #49e);
	border:solid 1px #cff;
	box-shadow:inset 0 0 3px 2px rgba(0, 100, 100, 0.6),
	inset 0 0 3px 1px #000,
	0 0 0 1px #000;
}

.Toggle-HintBox-MouseTracking:focus{
	outline:none;
	box-shadow:0 0 0 4px #000,
	inset 0 0 10px 3px rgba(0, 0, 0, 0.7),
	inset 0 0 5px 5px rgba(0, 0, 0, 0.7),
	inset 0 0 2.5px 2px rgba(0, 0, 0, 0.7);
}

.Toggle-HintBox-MouseTracking[aria-pressed="false"]:focus svg{
	background:rgba(0, 0, 125, 0.3);
	border-radius:50%;
}

.Toggle-HintBox-MouseTracking[aria-pressed="true"]{
	box-shadow:inset 0 0 3px 2px rgba(0, 100, 100, 0.6),
	inset 0 0 2px 1px #000,
	0 0 0 1px #000,
	0 0 3px 2px #5ff;
	filter:drop-shadow(0px 0px 2px #7ff) contrast(250%);;
}

.Toggle-HintBox-MouseTracking[aria-pressed="false"]{
	box-shadow:inset 0 0 3px 2px rgba(0, 100, 100, 0.6),
	inset 0 0 3px 1px #000,
	0 0 0 1px #000;
	filter:contrast(150%)
}

.Toggle-HintBox-MouseTracking[aria-pressed="true"]>svg{
	width:100%;
	height:100%;
	fill:#fff;
}

.Toggle-HintBox-MouseTracking>svg{
	width:100%;
	height:100%;
	fill:#fff;
	stroke:#000000;
}

.Tab-Wrapper{
	width:60%;
	height:60vh;
	margin:3% auto 1%;
	border-radius:1rem;
	overflow:hidden;
}

.Turn-mode{
	display:block;
	width:30%;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background:transparent;
	border:none;
	float:right;
}

.Turn-mode~*{
	content:'';
	display:block;
	clear:both;
}

.TabItems-List{
	margin-bottom:1%;
}

.TabItems-List [role="tab"]{
	padding:1% 0;
	width:25%;
	height:10%;
	display:block;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:transparent;
	border:none;
	float:left;
}

.PanelItems-List [role="tabpanel"]{
	width:90%;
	height:90%;
	font-size:1.2rem;
	margin:0 auto;
}

.TabItems-List:after{
	content:'';
	display:block;
	clear:both;
}

.live-hint-Message{
	display:none;
	position:absolute;
	background-color:#000;
	padding:0.25%;
	color:#fff;
	border:solid 1px #fff;
	box-shadow:0 0 0 1px #000;
}

@media screen and (max-width:768px){
	.Toggle-HintBox-MouseTracking{
		display:block;
		position:absolute;
		width:2em;
		height:2em;
		top:11.5%;
	}
	
	.Tab-Wrapper{
		width:82.5%;
		height:60vh;
		margin:1% auto;
		border-radius:1rem;
		overflow:hidden;
	}
}