ul[role=tree], ul[role=tree] ul[role=group]{
    list-style: none;
}

.hide-tree{
    display:none;
}

.hide{
    display: none;
}

ul[role=tree]{
    width:40%;
    height:600px;
    border:solid 1px;
    overflow:hidden;
    overflow-y:auto;
}

ul[role=group]{
    width:100%;
}

ul[role=tree] li[role=none]{
    width:100%;
}

ul[role=tree] li[role=none]>[role=treeitem]{
    position: relative;
    display:inline-block;
    width:100%; height:1.2rem; line-height:1.2rem;
    color:currentColor;
    overflow:hidden; text-overflow: ellipsis;
    border:none;
    background:transparent;
    text-decoration: none;
    cursor: default;
    text-align:left;
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    opacity: 0.7;
}

ul[role=tree].active-tree [role=none]>[role=treeitem]{
    opacity:1;
}

.icon-visible-only:before{
    content:"ã€€"; height:0.9rem; width: 1rem;
    font-family: "Material Icons";
    vertical-align: middle;
    font-size:0.9rem;
}

.icon-visible-only.expanded:before{
    content:"keyboard_arrow_down";
}
.icon-visible-only.collapsed:before{
    content:"keyboard_arrow_right";
}

ul[role=tree] li[role=none]>[role=treeitem].browsed-pointer{
    background-color:rgba(35,95,175,0.7);
    color:#fff;
}

[role=group] [role=none]{
    margin-left:0.4rem;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/material-icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
            local('MaterialIcons-Regular'),
            url("../font/material-icons/MaterialIcons-Regular.woff2") format('woff2'),
            url("../font/material-icons/MaterialIcons-Regular.woff") format('woff'),
            url("../font/material-icons/MaterialIcons-Regular.ttf") format('truetype');
    }
    .icon-visible-only:before{
        /* fallback */
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        width:1rem; height:1rem;
        font-feature-settings: 'liga';
        -moz-font-feature-settings: 'liga';
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}